@import url("global.css");

#apoiadores{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--gradiente-segundario);

}

.apoiadores_titulo{

    align-self: flex-start;
    font-family: var(--fonte-titulo);
    font-size: clamp(0px, 15vw, 100px);
    padding-bottom: 10px;
    margin-left: 100px;
    margin-top: -80px;
    z-index: 10;

}

.content_apoiadores{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

}

.img_patas{

    width: 450px;
    height: 450px;

}

#pata_amarela{

    transform: rotate(5deg);
    perspective: 1000px;
    transform: rotateY(10deg);

}

#pata_azul{


    
}

#pata_rosa{

    transform: rotate(5deg);
    perspective: 1000px;
    transform: rotateY(10deg);

}

.link_apoiar {

    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--fonte-titulo);
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 1020px

}

.link_apoiar span {

    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 24px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: bold;

}

.link_apoiar svg {

    transform: translateX(-8px);
    transition: all 0.3s ease;

}

.link_apoiar:hover svg {

    transform: translateX(0);

}

.link_apoiar:active svg {

    transform: scale(0.9);

}

.hover_underline_animation {

    position: relative;
    color: black;
    padding-bottom: 20px;

}

.hover_underline_animation:after {

    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.link_apoiar:hover .hover_underline_animation:after {

    transform: scaleX(1);
    transform-origin: bottom left;

}

#arrow_horizontal{

    width: 30px;
    height: 10px;

}

@media (max-width: 1300px) {

    .link_apoiar {

        margin-right: 0px;

    }
    
}

@media (max-width: 672px) {

    .apoiadores_titulo{

        align-self: center;
        margin-left: 0px;

    }

    .img_patas{
        
        width: 350px;
        height: 350px;

    }

    .link_apoiar{

        margin-right: 0px;

    }

}