#voluntarios{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    

}

.voluntarios_titulo{

    font-size: clamp(0px, 15vw, 100px);
    line-height: 0;
    margin-top: clamp(0px, 10vw, 90px);

}

#content_voluntarios{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    gap: 50px;

}

.card_voluntarios{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 300px;
    border-radius: 10px;

}

.foto_voluntarios{

    width: 80px;
    height: 80px;
    border-radius: 100px;

}

.nome_voluntarios{

    text-align: center;
    font-size: 30px;
    line-height: 25px;
    margin-top: 10px;

}

.nucleos_voluntarios{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;

}

.redes_voluntarios{

    display: flex;
    justify-content: center;
    align-items: center;

}

.icons_voluntarios{

    width: 35px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;

}

.instagram_voluntarios{

    background-image: url(../imgs/voluntarios/IconInstagram.png);

}

.linkedin_voluntarios{

    background-image: url(../imgs/voluntarios/IconLinked.png);

}

.email_voluntarios{

   background-image: url(../imgs/voluntarios/IconEmail.png); 

}

.ondas_voluntarios{

    width: 100%;
    object-fit: cover;

}

#onda_voluntario_cima{

    height: 185px;

}

#onda_voluntario_baixo{

    transform: rotate(180deg);
    height: 200px;
    margin-top: clamp(0px, 5vw, 50px);

}

.cta {

  border: none;
  background: none;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 1100px

}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (max-width: 1300px) {

    .cta {

    margin-right: 0px;

    }
    
}
