.eventos__carousel{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    gap: 10px;
    background-image: url(/PaginaInicial/imgs/eventos/Fundo.png);
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: 320px center;

}

.eventos__card__centro{

    width: 300px;
    height: 400px;
    background-color: brown;

}

.eventos__card__esquerda{

    width: 200px;
    height: 300px;
    background-color: rebeccapurple;
    transform: perspective(1000px) rotateY(-20deg);

}

.eventos__card__direita{

    width: 200px;
    height: 300px;
    background-color: blue;
    transform: perspective(1000px) rotateY(20deg);

}
