.feitos__grid{

    display:grid;

    grid-template-columns:
        repeat(3,1fr);

    gap:30px;

}

.feitos__card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    transition:
        var(--transition-default);

}

.feitos__card:hover{

    transform:
        scale(1.05);

}

.feitos__video{

    width:100%;

    height:350px;

    object-fit:cover;

}

.feitos__card:hover{

    transform:
        scale(1.05);

}