body{

    background:#fafafa;

    color:var(--color-dark);

    font-family:
        Arial,
        Helvetica,
        sans-serif;

}

section{

    position:relative;

    overflow:hidden;

    padding:120px 40px;

}

section > div[class$="__content"]{

    position:relative;

    z-index:2;

    width:100%;
    max-width:var(--container-width);

    margin:0 auto;

}

section > div[class$="__background"]{

    position:absolute;

    inset:0;

    z-index:1;

}