.nucleos__content{

    display: flex;
    justify-content: center;

}

.nucleos__title{

    text-align:center;
    margin-bottom:60px;

}

.nucleos__grid{

    display: flex;
    justify-content: top;
    align-items: top;
    width: 90%;
    gap:30px;

}

.nucleos__card {

    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-default);
    transition: var(--transition-default);
    text-align: center;
}

.nucleos__card:hover{

    transform:
        translateY(-8px)
        scale(1.03);

}

.nucleos__icon{

    width:90px;
    padding-top: 20px;

}

.nucleos__link{

    background:
        var(--gradient-primary);

    background-clip:text;

    -webkit-background-clip:text;

    color:transparent;

    font-weight:bold;

}

.nucleos__card{

    opacity:0;

    transform: translateY(40px);

}

.nucleos__card--visible{

    opacity:1;

    transform: translateY(0);

}