.empresas__tier{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:30px;

    margin-bottom:40px;

}

.empresas__logo{

    transition:
        var(--transition-default);

}

.empresas__logo:hover{

    transform:
        scale(1.08);

}

.empresas__logo--gold{

    width:220px;

}

.empresas__logo--silver{

    width:160px;

}

.empresas__logo--bronze{

    width:110px;

}

.empresas__logo:hover{

    transform:
        scale(1.08);

}