@media(max-width:1024px){

    .nucleos__grid{

        grid-template-columns:
            repeat(2,1fr);

    }

    .membros__grid{

        grid-template-columns:
            repeat(2,1fr);

    }

    .feitos__grid{

        grid-template-columns:
            repeat(2,1fr);

    }

}

@media(max-width:768px){

    .menu{

        flex-direction:column;

        gap:20px;

    }

    .menu__nav{

        flex-wrap:wrap;

        justify-content:center;

    }

    .nucleos__grid,
    .membros__grid,
    .feitos__grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:425px){

    section{

        padding:100px 20px;

    }

    .eventos__image{

        height:250px;

    }

    .empresas__logo--gold{

        width:140px;

    }

}