:root {

    --color-primary: #ff914d;
    --color-secondary: #e452fa;

    --color-dark: #1e1e1e;
    --color-light: #ffffff;

    --gradient-primary:
        linear-gradient(
            90deg,
            #ff914d,
            #ffbd59
        );

    --shadow-default:
        0 10px 25px rgba(0,0,0,.12);

    --radius-default: 20px;

    --transition-default: .3s ease;

    --container-width: 1200px;
  
}